@model IEnumerable<NewsPortal.Models.NewsArticle>
@{
    NewsPortal.Models.IUIMessages uiMessages = NewsPortal.Models.UIMessages.GetMessagesForLanguage();
}

<h2>All News</h2>
<ul class="nav navbar-nav margin-15px-0px">
    <li>
        @Html.ActionLink("Add news", NewsPortal.Common.ActionName.NewsAdmin_NewNews, NewsPortal.Common.ControllerName.NewsAdmin,
   null, new { @class = "btn btn-primary" })
</li>
<li>
    @Html.Partial(NewsPortal.Common.PartialViewName.Search,
                    new NewsPortal.Models.SearchViewModel
                    {
                       ActionName = NewsPortal.Common.ViewName.NewsAdmin_Index,
                       ControllerName = NewsPortal.Common.ControllerName.NewsAdmin
                    })
</li>
</ul>

@if (!Model.Any())
{// TODO GUI message
    <p>You don't have any news yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var newsArticle in Model)
            {
            <tr>
                <td>@newsArticle.PublishDate</td>
                <td>@newsArticle.Title</td>
                <td>@newsArticle.Category</td>
                <td>
                    @Html.ActionLink(uiMessages.Edit,
                                 NewsPortal.Common.ActionName.NewsAdmin_EditNews,
                                 NewsPortal.Common.ControllerName.NewsAdmin,
                                 new { newsArticle.Id },
                                 null)
                </td>
            </tr>
            }
        </tbody>
    </table>
}