@model NewsPortal.Models.NewsArticle

<h2>Add News</h2>

@using (Html.BeginForm("Save", "NewsAdmin"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Content)
        @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Content)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Category)
        @Html.TextBoxFor(m => m.Category, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Category)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PictureUrl)
        @Html.TextBoxFor(m => m.PictureUrl, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PictureUrl)
    </div>

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}