@model NewsPortal.Models.NewsListViewModel
@{
    NewsPortal.Models.IUIMessages uiMessages = NewsPortal.Models.UIMessages.GetMessagesForLanguage();
}

<h2>@(!String.IsNullOrWhiteSpace(Model.ListCriteria) ? $"Search result for {Model.ListCriteria}" : "")</h2>

<div class="list-group">
    @foreach (NewsPortal.Models.NewsArticle article in Model.NewsArticles)
    {
        <a href="#" class="list-group-item">
            <div class="search-list-wrapper">
                <div class="search-list-image-div">
                    <img class="search-list-image" src="@article.PictureUrl" alt="@article.Title" />
                </div>
                <div class="search-list-text">
                    <h4 class="list-group-item-heading">@article.Title</h4>
                    <p class="list-group-item-text">@article.PublishDate</p>
                </div>
            </div>
        </a>
    }
</div>